<nav class="navbar bg-body-tertiary">
  <div (click)="goToMalware()">
    <a href="http://localhost:4200">
      <img src="./assets/ReaktorLogo.jpg" alt="Reaktor" width="200px" >
    </a>
  </div>
  <div>
    <a href="http://localhost:4200/malware" class="btn btn-danger">Malware</a>
  </div>
</nav>


<h1 style="text-align: center; font-size: 28px; font-weight: bold; margin-bottom: 20px;">Información de Ordenadores del Centro</h1>

<div class="computer-cards-container">
  <div class="computer-card" *ngFor="let computer of computers">
    <app-computer-card [malwareCount]="computer.malwareCount" [location]="computer.location" [responsable]="computer.responsable" [id]="computer.id" [computerOn]="computer.computerOn"></app-computer-card>
  </div>
</div>
